44-SS/44-SS.mxp
44-SS/autoback/AutoBackup01.max
44-SS/autoback/AutoBackup02.max
44-SS/autoback/AutoBackup03.max
44-SS/autoback/MaxBack.bak
44-SS/autoback/maxhold.bak
44-SS/autoback/maxhold.mx
44-SS/sceneassets/renderassets/temp.fgm
*.psd
44-SS/proxies/dir.csv
*.blend1

*.png

*.mp4

*.avi

*.gitignore
